@model DIP.Models.KmsFriendlink
@{
    ViewData["Title"] = "刪除友情連結";
}

<h2>@ViewData["Title"]</h2>

<h4>你確定要刪除以下資料嗎？</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">名稱</dt>
    <dd class="col-sm-10">@Model.NameTw (@Model.NameUs)</dd>

    <dt class="col-sm-2">連結</dt>
    <dd class="col-sm-10">@Model.Link</dd>
</dl>

<form asp-action="DeleteLink" method="post">
    <input type="hidden" asp-for="LinkSeq" />
    <button type="submit" class="btn btn-danger">確定刪除</button>
    <a asp-action="Links" class="btn btn-secondary">取消</a>
</form>
